# PANDAS

Pandas is defined as an open source library that provides high-performance data manipulation in Python. It is developed by Wed McKinney in 2008.
We say that 80% of data analysis is sepnt on the data cleaning and preparing data.To get a handle on the problem,this Pandas focuses on a small, but important aspect of data manipulation and data cleaning.Pandas is built on top of NumPy package , means NumPy is required for operating the Pandas

In [4]:
import pandas as pd
import numpy as np

## Data Structures

> Series : It is a one - dimensional labeled array capable of holding any data type (int , float,object,etc).The axis are collectively referred to as the index.

> Data Frame : It is a 2 dimensional labelled data structure with columns of potentially different types.You can think of it like....

### Series Data Structure

pandas.Series(data , index ,dtype , copy)
data - data takes various forms like ndarray , list , constants , dict etc.
index - it is unique and hashable for easy identification
dtype - it is for data type
copy - copy data, default is False
A series can be created using various iput like : Array , Dict , Scalar or constant value ,etc

In [6]:
# create empty series

s = pd.Series(dtype=pd.StringDtype())
print(s , type(s))

Series([], dtype: string) <class 'pandas.core.series.Series'>

In [7]:
# create a Series from ndarray
data1 = np.array(['Asad','Ashar','Mouzam','Anis'])
print(data1 , type(data1))

s = pd.Series(data=data1)
print(s , type(s))

['Asad' 'Ashar' 'Mouzam' 'Anis'] <class 'numpy.ndarray'>
0      Asad
1     Ashar
2    Mouzam
3      Anis
dtype: object <class 'pandas.core.series.Series'>

In [9]:
data1 = np.array(['Asad','Ashar','Mouzam','Anis'])
print(data1 , type(data1))

s = pd.Series(data=data1, index = ['27','68','74','85'])
print(s , type(s))    
print()

print(s['27'])
print(s['68'])

['Asad' 'Ashar' 'Mouzam' 'Anis'] <class 'numpy.ndarray'>
27      Asad
68     Ashar
74    Mouzam
85      Anis
dtype: object <class 'pandas.core.series.Series'>

Asad
Ashar

In [10]:
# create a Series from dictionary
data = {'Apple': 200,
        'Banana' : 60,
        'Pineapple' : 70 ,
        'Orange' : 100,
        'Water_lemon':30}

print(data , type(data))

{'Apple': 200, 'Banana': 60, 'Pineapple': 70, 'Orange': 100, 'Water_lemon': 30} <class 'dict'>

In [11]:
s = pd.Series(data)
print(s , type(s))

Apple          200
Banana          60
Pineapple       70
Orange         100
Water_lemon     30
dtype: int64 <class 'pandas.core.series.Series'>

In [12]:
s = pd.Series(data , index = ['Apple','Banana','Pineapple','Guava','Orange','Mango'])
print(s , type(s))

Apple        200.0
Banana        60.0
Pineapple     70.0
Guava          NaN
Orange       100.0
Mango          NaN
dtype: float64 <class 'pandas.core.series.Series'>

In [13]:
s = pd.Series(5 , index = [0,1,2,3,4])
print(s)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [14]:
s = pd.Series([111,222,333,444,555],index = ['Arijit','Rahul','Asad','Debo','Karmveer'])
print(s , type(s))

Arijit      111
Rahul       222
Asad        333
Debo        444
Karmveer    555
dtype: int64 <class 'pandas.core.series.Series'>

In [15]:
print(s[:3])
print(s[-3:])

Arijit    111
Rahul     222
Asad      333
dtype: int64
Asad        333
Debo        444
Karmveer    555
dtype: int64

In [17]:
s_unique = pd.Series([1,2,3,4,5])
print(s_unique.is_unique)

s_unique = pd.Series([1,2,4,4,5])
print(s_unique.is_unique)

True
False

In [19]:
# Concatenating
s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5,6])
result = pd.concat([s1,s2]).reset_index(drop=True)
print(result)
result = pd.concat([s1,s2], axis = 1)
print(result)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
   0  1
0  1  4
1  2  5
2  3  6